.genres {
  width: 100%;
  margin-top: 2%;
  padding: 1%;
}

.multi-select {
  color: #000;
  margin: 0;
  padding: 0;

  li {
    color: #000;
    list-style-type: none;
    box-sizing: border-box;
    display: inline-flex;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    padding: 4px 12px;
    font-size: 0.8em;
    margin-right: 6px;
    margin-top: 8px;
  }

  .selected {
    color: #fff;
    border: 1px solid #9e9e9e;
    background-color: rgba(1, 180, 228, 1);
    border-color: rgba(1, 180, 228, 1);
  }
}
