.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-color: #031d33 !important;

  a {
    color: white;
  }
}
