.card {
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  text-align: center;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px 5px 5px;
  }

  .card-title {
    font-size: 1em;
  }

  .card-text {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0.9em;
  }
}
